# pip install -r requirements.txt

arxiv
autogen-agentchat~=0.2
autogen-agentchat[lmm,graph,ipython,redis,retrievechat-qdrant,retrievechat-pgvector,long-context,teachable]~=0.2
autogen-agentchat[retrievechat]

autogen_ext
autogenstudio
fastapi
flaml[automl]

matplotlib
mwparserfromhell
numpy
psycopg[binary,pool]
pyautogen[teachable,mathchat,blendsearch]~=0.2
pydantic
pytest
torch
transformers
typer
uvicorn

yfinance
