**/.env
**/.venv/*
**/.cache/*
**/.cspell.json
**/datasets/*
**/chroma_db/*
**/huggingface_access_token
**/__pycache__/*
models - Shortcut.lnk

autogen/llmProject/documents/*.*
autogen/appMadlanProject/dataset_worldcup.json
autogen/examples/work_dir/*

autogen-studio/models/*
autogen-studio/agents/*

fineTuneModel/models/*

Testing_Projects/*

anythingLLM/*

langchain/archive/*
/home/mjhfvi/repository/GPTExamples/.gitignore
fineTuneModel/*
