chromadb==0.5.23; sys_platform == 'linux'
langchain
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-ollama
langchain-text-splitters
langchain_anthropic
langchain_unstructured
langgraph

sentence_transformers; sys_platform == 'linux'
tokenizers; sys_platform == 'win32'
tokenizers==0.20.3; sys_platform == 'linux'
transformers==4.46.3; sys_platform == 'linux'
unstructured
